.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color, #000000);
}

.name {
    color: #2462be;
    font-weight: 900;
    font-size: 32px;
    margin-right: 5px;
}