.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color, #000000);
}

.name {
    font-weight: 900;
    font-size: 32px;
    margin-right: 5px;
}

.headerContainer {
    margin-bottom: 15px;
}

:global(.theme-light) .name {
    color: #1677ff;
}

:global(.theme-dark) .name {
    color: #fa8c16;
}